section.cyberpunk {
  background-color: var(--yellow-color);
  color: var(--black-color);
  padding: 60px 60px;
  position: relative;
  margin-top: -1px;
  margin-bottom: -1px;
}
section.cyberpunk:after,
section.cyberpunk.black:after {
  content: " ";
  display: block;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  background-color: var(--black-color);
  position: absolute;
  clip-path: polygon(0% 0%, 22% 0%, calc(22% + 30px) 30px, 52% 30px, calc(52% + 15px) 15px, 70% 15px, calc(70% + 15px) 30px, 90% 30px, calc(90% + 30px) 0px, 100% 0px, 100% 30px, 0px 30px);
}

section.cyberpunk.both:after,
section.cyberpunk.both.black:after {
  height: 100%;
  clip-path: polygon(
    0px 30%,
    30px calc(30% + 30px), 
    30px calc(100% - 30px), 
    22% calc(100% - 30px), 
    calc(22% + 30px) 100%, 
    52% 100%, calc(52% + 15px) 
    calc(100% - 15px), 
    70% calc(100% - 15px), 
    calc(70% + 15px) 100%, 
    90% 100%, 
    calc(90% + 30px) calc(100% - 30px), 
    100% calc(100% - 30px), 
    100% 100%, 
    0px 100%);
}

section.cyberpunk.black:after {
  background-color: var(--yellow-color);
}

section.cyberpunk.black {
  background-color: var(--black-color);
  color: var(--yellow-color);
}

.dotted,
.dotted:before,
.dotted:after {
  background: var(--black-color);
  background-image: radial-gradient(var(--yellow-color-opacity) 1px, transparent 0);
  background-size: 5px 5px;
  background-position: -13px -3px;
}

section.cyberpunk.black .dotted,
section.cyberpunk.black .dotted:before,
section.cyberpunk.black .dotted:after {
  background: var(--yellow-color);
  background-image: radial-gradient(#00000021 1px, transparent 0);
  background-size: 5px 5px;
  background-position: -13px -3px;
}

section.cyberpunk:before,
section.cyberpunk.black:before {
  content: " ";
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  background-color: var(--yellow-color);
  position: absolute;
  clip-path: polygon(
    calc(22% + 28px) -1px, 
    calc(22% + 45px) 15px, 
    34% 15px, 
    calc(34% + 15px) -1px, 
    70% 0px
  );
}

section.cyberpunk.both:before,
section.cyberpunk.both.black:before {
  height: 100%;
  clip-path: polygon(
    calc(22% + 28px) -1px, 
    calc(22% + 45px) 15px, 
    34% 15px, 
    calc(34% + 15px) -1px, 
    0% 0%, 0% 10%, 
    30px calc(10% + 30px), 
    30px 100%, 
    0% 100%,
    0% 0%
  );
}

section.cyberpunk:before {
  background-color: var(--black-color);
}

section.cyberpunk:nth-child(even):after,
section.cyberpunk:nth-child(odd):before {
 transform: scaleX(-1);
}

section.cyberpunk.black h1,
section.cyberpunk.black h2,
section.cyberpunk.black h3,
section.cyberpunk.black h4 {
  color: var(--yellow-color);
}

section.cyberpunk.black h1:before,
section.cyberpunk.black h2:before,
section.cyberpunk.black h3:before,
section.cyberpunk.black h4:before,
section.cyberpunk.black hr {
  background-color: var(--yellow-color);
}

section.cyberpunk.black img.cyberpunk,
section.cyberpunk.black img {
  background-color: var(--yellow-color);
}

section.cyberpunk.black textarea.cyberpunk,
section.cyberpunk.black input[type="text"].cyberpunk,
  section.cyberpunk.black input[type="date"].cyberpunk,
  section.cyberpunk.black input[type="time"].cyberpunk,
  section.cyberpunk.black input[type="datetime-local"].cyberpunk,
  section.cyberpunk.black input[type="file"].cyberpunk,
  section.cyberpunk.black input[type="number"].cyberpunk,
  section.cyberpunk.black input[type="phone"].cyberpunk,
  section.cyberpunk.black input[type="email"].cyberpunk,
  section.cyberpunk.black input[type="password"].cyberpunk,
section.cyberpunk.black select.cyberpunk,
section.cyberpunk.black textarea.cyberpunk,
section.cyberpunk.black input[type="text"],
  section.cyberpunk.black input[type="date"],
  section.cyberpunk.black input[type="time"],
  section.cyberpunk.black input[type="datetime-local"],
  section.cyberpunk.black input[type="file"],
  section.cyberpunk.black input[type="number"],
  section.cyberpunk.black input[type="phone"],
  section.cyberpunk.black input[type="email"],
  section.cyberpunk.black input[type="password"],
section.cyberpunk.black select {
  border-color: var(--yellow-color);
  background-color: var(--black-color);
  color: var(--yellow-color); 
}

section.cyberpunk.black input[type="time"]::-webkit-calendar-picker-indicator,
section.cyberpunk.black input[type="date"]::-webkit-calendar-picker-indicator{
  filter: invert(82%) sepia(91%) saturate(803%) hue-rotate(352deg) brightness(107%) contrast(104%);
}

section.cyberpunk.black input[type="radio"].cyberpunk,
section.cyberpunk.black input[type="radio"] {
  background-color: var(--yellow-color); 
}

section.cyberpunk.black input[type="radio"].cyberpunk:after,
section.cyberpunk.black input[type="radio"]:after {
  background-color:  var(--black-color);
}

section.cyberpunk.black input[type="radio"].cyberpunk:checked:after,
section.cyberpunk.black input[type="radio"]:checked:after  {
  background-color: var(--red-color);
}

section.cyberpunk.black input[type="checkbox"].cyberpunk:checked:before,
section.cyberpunk.black input[type="checkbox"]:checked:before {
  border-color: var(--red-color);
  border-top-color: transparent;
}

section.cyberpunk.black input[type="checkbox"].cyberpunk:checked:after,
section.cyberpunk.black input[type="checkbox"]:checked:after {
  background-color: var(--red-color);
}

section.cyberpunk.black p.cyberpunk,
section.cyberpunk.black p {
  border: 30px solid var(--yellow-color);
  border-right: 5px solid var(--yellow-color);
  border-left: 5px solid var(--yellow-color);
  border-bottom: 24px solid var(--yellow-color);
  background-color: var(--black-color);
}

section.cyberpunk.black p.cyberpunk.inverse,
section.cyberpunk.black p.inverse {
  border: none;
  background-color: var(--yellow-color);
  color: var(--black-color);
  border-right: 2px solid var(--border-color);
}

section.cyberpunk.black ul.cyberpunk > li:before,
section.cyberpunk.black ul > li:before:not(ul.steps li:before) {
  background-color: var(--yellow-color);
}

section.cyberpunk.black ol.cyberpunk li:before,
section.cyberpunk.black ol > li:before {
  color: var(--black-color);
  background-color: var(--yellow-color);
}

aside.cyberpunk {
  --width: 230px;
  position: fixed;
  top: 50%;
  left: calc(100% - 43px);
  width: var(--width);
  transition: left 0.3s;
}

aside.cyberpunk:hover {
  left: calc(100% - var(--width) + 5px);
}

aside.cyberpunk ul {
  padding: 0;
  margin: 0;
}

aside.cyberpunk ul li {
  display: block;
  background-color: var(--yellow-color);
  border: 1px solid var(--black-color);
  border-left: 10px solid var(--black-color);
  border-bottom: 10px solid var(--black-color);
  border-right: none;
  font-size: 1.3rem;
  margin: 3px 0px;
  transform: skew(-15deg);
  transition: background 0.3s, color 0.3s;
  width: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 40% calc(100% - 9px), 0% 100%, 1% 62%);
}

aside.cyberpunk ul li:hover {
  background-color: var(--black-color);
}

aside.cyberpunk ul li a {
  display: block;
  padding: 5px 10px;
  color: var(--black-color);
  transform: skew(15deg);
  transition: color 0.3s;
}

aside.cyberpunk ul li:hover a {
  color: var(--yellow-color);
}

aside.cyberpunk a:after {
  display: none;
}

.cyberpunk .boxtree {
  --gap: 15px;
  --border-height: 1px;
  --padding: 5px;
  --resolved-text: "RESOLVED";
  --pending-text: "NO ACCESS";
}

@media (min-width: 600px) {
	.cyberpunk .boxtree {
    --gap: 20px;
    --border-height: 3px;
    --padding: 10px;
	}
}

@media (min-width: 900px) {
	.cyberpunk .boxtree {
    --gap: 30px;
    --border-height: 5px;
    --padding: 20px;
	}
}

.cyberpunk .boxtree {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  gap: var(--gap);
  margin: 60px -50px;
}

.cyberpunk .boxtree > div {
  width: calc(100% - var(--gap));
  box-sizing: border-box;
  border: var(--border-height) dashed var(--blue-color);
  padding: var(--padding);
  color: var(--blue-color);
  position: relative;
}

.cyberpunk.black .boxtree > div {
  color: var(--yellow-color);
  border: var(--border-height) dashed var(--yellow-color);
}

.cyberpunk .boxtree > div:after {
  content: "";
  position: absolute;
  width: 100%;
  height: var(--gap);
  background-color: var(--blue-color);
  left: 0px;
  bottom: calc( 0px - var(--gap) - var(--border-height));
  clip-path: polygon(calc(50% - 2px) 0%, calc(50% - 2px) 100%, calc(50% + 2px) 100%, calc(50% + 2px) 0%);
}

.cyberpunk.black .boxtree > div:after {
  background-color: var(--yellow-color);
}

.cyberpunk .boxtree > div {
  width: calc(50% - var(--gap));
}

.cyberpunk.black .boxtree > div.resolved {
  border-color: var(--neon-color);
}

.cyberpunk .boxtree > div.resolved {
  border-color: var(--green-color);
}

.cyberpunk .boxtree > div *:before {
  background-color: var(--blue-color);
}

.cyberpunk .boxtree > div.resolved, 
.cyberpunk .boxtree > div.resolved *,
.cyberpunk .boxtree > div.resolved *:after {
  color: var(--green-color);
}

.cyberpunk .boxtree > div.resolved:after,
.cyberpunk .boxtree > div.resolved *:before {
  background-color: var(--green-color);
}

.cyberpunk.black .boxtree > div.resolved, 
.cyberpunk.black .boxtree > div.resolved *,
.cyberpunk.black .boxtree > div.resolved *:after {
  color: var(--neon-color);
}

.cyberpunk.black .boxtree > div.resolved:after,
.cyberpunk.black .boxtree > div.resolved *:before {
  background-color: var(--neon-color);
}

.cyberpunk .boxtree > div.pending {
  border-color: var(--purple-color);
}

.cyberpunk .boxtree > div.pending,
.cyberpunk .boxtree > div.pending *,
.cyberpunk .boxtree > div.pending *:after {
  color: var(--purple-color);
}

.cyberpunk .boxtree > div.pending:after,
.cyberpunk .boxtree > div.pending *:before {
  background-color: var(--purple-color);
}

.cyberpunk .boxtree > .children2:after {
  clip-path: polygon(calc(25% - 2px) 0%, calc(25% - 2px) 100%, calc(25% + 2px) 100%, calc(25% + 2px) 0%, calc(75% - 2px) 0%, calc(75% - 2px) 100%, calc(75% + 2px) 100%, calc(75% + 2px) 0%);
}

.cyberpunk .boxtree > .width1 {
  width: calc(100% - var(--gap));
}

.cyberpunk .boxtree > .width3 {
  width: calc(25% - var(--gap));  
}

.cyberpunk .boxtree > .children0:after {
  display: none;  
}

@media (max-width: 599px) {
  .cyberpunk .boxtree > div.width3 {
    word-break: break-all;
  }
}

@media (min-width: 900px) {
  .cyberpunk .boxtree {
    margin: 0px;
  }
  .cyberpunk .boxtree > div.resolved:before,
  .cyberpunk .boxtree > div.pending:before {
    content: var(--resolved-text);
    font-family: 'VT323';
    display: block;
    opacity: 0.7;
    font-size: 3em;
    color: var(--green-color);
    position: absolute;
    transform: rotate(-15deg);
    transform-origin: center center;
    text-align: center;
    width: 100%;
    left: 0px;
    top: calc(50% - 0.5em);
    z-index: 10;
  }

  .cyberpunk.black .boxtree > div.resolved:before {
    color: var(--neon-color);
  }
  
  .cyberpunk .boxtree > div.pending:before {
    content: var(--pending-text);
    color: var(--purple-color);
  }

  .cyberpunk .boxtree > div.resolved:before,
  .cyberpunk .boxtree > div.pending:before {
    font-size: 4.7em;
    top: calc(50% - 0.5em);
  }

  .cyberpunk .boxtree > div.width3:before {
    font-size: 2.5em;
    top: calc(50% - 0.5em);
  }
}

.cyberpunk ul.steps {
  --size: 25px;
  margin: 0px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  counter-reset: my-counter;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  align-content: center;
}

@media (max-width: 599px) {
  .cyberpunk ul.steps li br {
    display: none;
  }
}

@media (min-width: 600px) {
  .cyberpunk ul.steps {
    flex-direction: row;
  }
}

.cyberpunk ul.steps li {
  display: flex;
  align-items: end;
  color: var(--black-color);
  padding: 0px 20px 5px 0px;
  position: relative;
  font-size: 12px;
  line-height: 12px;
  min-width: 80px;
  margin-bottom: 40px;
  counter-increment: my-counter;
  padding-left: 50px;
}

@media (min-width: 600px) {
  .cyberpunk ul.steps li {
    padding-left: 0px;
    margin-bottom: 60px;
  }
}

.cyberpunk.black ul.steps li {
  color: var(--yellow-color)
}

.cyberpunk ul.steps li:last-child {
  min-width: 0px;
  padding: 0px 0px 5px 50px;
}

@media (min-width: 600px) {
  .cyberpunk ul.steps li:last-child {
    padding: 0px 0px 5px 0px;
  }
}

.cyberpunk ul.steps li:before {
  position: absolute;
  content: counter(my-counter);
  color: var(--yellow-color);
  background-color: var(--purple-color);
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: -8px;
  left: 0px;
  font-size: 20px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px) {
  .cyberpunk ul.steps li:before {
    bottom: -40px;
  }
}

.cyberpunk ul.steps li.current:before {
  background-color: var(--black-color);
}

.cyberpunk.black ul.steps li.current:before {
  background-color: var(--yellow-color);
  color: var(--black-color);
}

.cyberpunk ul.steps li:after {
  position: absolute;
  content: "";
  background-color: var(--purple-color);
  display: none;
}

@media (min-width: 600px) {
  .cyberpunk ul.steps li:after {
    display: block;
    width: calc(100% - 40px);
    height: 2px;
    bottom: -20px;
    left: 40px;
    font-size: 20px;
    font-weight: 700;
  }
}

.cyberpunk ul.steps li:last-of-type:after {
  display: none;
}

.cyberpunk ul.steps li.current:after {
 background-color: var(--black-color);
}

.cyberpunk.black ul.steps li.current:after {
  background-color: var(--yellow-color);
}

.cyberpunk.black table th {
  background: var(--black-color);
  color: var(--yellow-color);
  border: 1px solid var(--yellow-color);
  padding: 10px;
  text-align: left;
}

.cyberpunk.black table td {
  border: 1px solid #333;
  padding: 10px;
  text-align: left;
}

.cyberpunk.black table tr:nth-child(even) td {
  background: #111;
}

.cyberpunk table th {
  background: var(--yellow-color);
  color: var(--black-color);
  border: 1px solid var(--black-color);
  padding: 10px;
  text-align: left;
}

.cyberpunk table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.cyberpunk.black a.cyberpunk {
  display: inline-block;
  margin: 4px;
}
